@model WebApplication3.Models.Vacancy

@{
    ViewData["Title"] = "Удалить";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Удалить</h1>

<h3>Вы уверены что хотите удалить запись?</h3>
<div>
    <h4>Vacancy</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.staffing_item_parrent_full_ext_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.staffing_item_parrent_full_ext_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.staffing_item_full_ext_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.staffing_item_full_ext_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fio_vlad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fio_vlad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefon_vlad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefon_vlad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fio_rec)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fio_rec)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefon_rec)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefon_rec)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email_rec)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email_rec)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_candidate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_candidate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.last_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.last_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.first_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.first_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.middle_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.middle_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.no_middle_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.no_middle_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dt_birthday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dt_birthday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.gender)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Назад</a>
    </form>
</div>
